
Summary: The main update is the replacement of the current differential expression program, cuffdiff, with DESeq2. To support this, the pipeline has been rewritten allowing for different programs to be utilized at the transcript assembly and feature quantification steps of the pipeline: htseq-count and stringtie.

- Stringtie
    - version: 2.1.1 
    - additions:
        - prepDE.py: takes the list of generated sample gtf files and creates a gene count and transcript count matrix. The transcript count matrix should be used as the input for DESeq2
            - required for compatability with DESeq2
    - Notes: Takes the bam file from the alignment step as input as well as the organism annotation file. Outputs an annotation file for the particular sample as well as a gene abundance file. In the annotation file, the feature type (3rd column) must be "CDS" or "exon", does not accept "gene" as a valid identifier. For compatability with DESeq2, the prepDE.py script is used to transform the inidividual sample annotation files into a single count matrix file.  

- Htseq-count
    - version: 0.12.4 
    - Notes: Takes the bam file from the alignment step as input as well as the organism annotation file. Outputs a count matrix based on the feature specified in the input. Currently, this program is a time sink as it can only run with one thread in the current implementation. Parallelizing it is on the todo list.

- R
    - version: 3.6.1 
    - packages:
        - DESeq2
        - Test: EnhancedVolcano for graphics??
    - dependencies:
        - mscorefonts (plots on a headless system in a singularity container may output boxes in place of text without this package)

#Will be removing in favor of multiqc
- create_rnaseq_report.py
    - packages: beautifulsoup4, lxml (parser)

- Multiqc
    - bioinformatics report generator program 
    - python packages:
        - matplotlib

- prok_tuxedo.py
    - version: TODO
    - Major Changes:
        - Changed default bacterial pipeline parameters: bowtie2 -> htseq-count -> DESeq2 
        - Option to use stringtie instead: bowtie2 -> stringtie -> DESeq2
        - Option to revert back to the previous cufflinks pipeline
   - New and modified functions: 
        - run_featurecount: calls runHtseqCount() or run_stringtie() depending on the "feature_count" job_data flag  
        - run_stringtie: included support for merged annotation when boolean is set
        - run_cuffdiff: moved the expression_transform portion to a separate function 
        - runDiffExpImport: runs the differential expression import protocal taken from run_cuffdiff
        - runHtseqCount: runs the htseq-count program and writes the output to a counts file for each sample
        - createCountsTable: merges the individual counts files generated in runHtseqCount into a single counts matrix 
        - createDESeqMetadata: creates a single metadata file used as input into DESeq2. Two rows: Sample Sample_Condition
        - writeGTFList: writes the input file for prepDE.py, which is the sample and path to the sample gtf file
        - prepStringtieDiffexp: calls prepDE.py, which takes the sample gtf files and creates a master gene count and transcript count matrix
        - run_deseq2: Prepares the input to and calls RunDESeq2.R, which takes the input files, a genome identifier, and a list of contrasts  
        - writeGMXFile: Takes the output differential expression files from RunDESeq2.R and creates the gene_exp.gmx file

- RunDESeq2.R
    - version: TODO
    - Summary: Runs the DESeq2 differential expression program for all contrasts specified. For each contrast, the counts and metadata are subsetted to only include the relevant samples. Then DESeq2 is run and the differential expression information for ech contrast is written to a separate output file 
    
- prepDE.py
    - version: not relevant
    - Summary: transforms the individual gtf files output from stringtie into a single gene count and transcript count matrix  

- TODO:
    - parallelize htseq-count
    - review RockHopper for snRNA and other RNA quantification support
    - record changes for App-RNASeq.pl and RNASeq.json
    - develop a "Report" for the RNA-Seq pipeline
        - SAMstat reports?
    - include volcano plots in the RNA-Seq report: see R package "EnhancedVolcano"
