StringTie==2.1.1
HTSeq==0.12.4
multiqc==1.10.1
RSeQC==4.0.0
bedtools==2.24.0
bedops==2.4.39
hisat2==2.1.0
bowtie2==2.4.2
SAMstat==1.5.1
FastQC==0.11.7
cufflinks==2.2.2
samtools==1.11
R==3.6.1
    - DESeq2
    - ggplot2
    - ComplexHeatmap
    - EnhancedVolcano
    - svglite    
    - gridExtra
    - reshape2
mscorefonts==0.0.1
